<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Status Update</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background: rgb(30,193,195);
            background: radial-gradient(circle, rgba(30,193,195,1) 0%, rgba(25,211,154,0.8133501400560224) 100%);
            color: #fff;
            min-height: 100vh; /* Ensures the gradient covers the full viewport height */
            margin: 0; /* Remove default body margin */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Status Update</h1>
        <p th:text="${message}"></p>
        <a href="/students/all" class="btn btn-secondary">Back to Student List</a>
    </div>
</body>
</html>
